NODE_ENV='YOUR NODE ENV'

NEXT_PUBLIC_API_URL='YOUR API URL'
NEXT_PUBLIC_SITE_URL='YOUR WEBSITE URL'
NEXT_PUBLIC_IMAGE_URL= 'YOUR IMAGE URL'
NEXT_PUBLIC_STRAPI_URL='YOUR CMS SERVICE URL .e.g. http://dockerService:0000/apiendpoint'